<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Скачивание</title>
</head>
<style>
       body {
    background: #228B22
</style>
<body>
    <h1 align="center">Страница Скачки</h1>
    <p align="center" style="color: red"><em><strong>На данный момент доступны:</strong></em></p>
        <ul>
            <li><a href="/static/ftd/Таблица Шульте.zip" download="" title="Скачать">Таблица Шульте</a></li>
            <li><a href="/static/ftd/Гугл Динозавр.zip" download="" title="Скачать">>Динозавр google</a></li>
            <li><a href="https://github.com/singletube/goroscop_site">Сайт с гороскопами</a></li>
        </ul>
</body>

<body>

</body>
</html>