<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Добро пожаловать</title>
    </head>
      <style>
   body {
    background: #228B22
   }

 h1 {
    font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */
    font-size: 400%; /* Размер шрифта в процентах */
   }
    h4 {
    font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */
    font-size: 100%; /* Размер шрифта в процентах */
   }


    button{
       display:block;
       position: relative;
       margin: auto;
       background: #ADFF2F;
            }


  </style>
    <body>
    <form action="/menu_page">
        <h1 align="center">Добро пожаловать</h1>
        <button><img src="https://i.pinimg.com/originals/ef/c7/42/efc742d45f94803d58c53b365476bb56.gif" alt="кнопка"></button>
    </form>
    </body>
</html>